{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CALICO Lab – Equipment Booking</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% block extra_css %}{% endblock %}
</head>

<body>

    <!-- TOP NAV -->
    <header class="navbar">
        <div class="navbar-brand">
            <div class="brand-logo">C</div>
            <div class="brand-text">
                <span class="brand-name">CALICO Lab</span>
                <span class="brand-sub">EQUIPMENT BOOKING</span>
            </div>
        </div>
        <nav class="navbar-nav">
            <a href="{% url 'home' %}" class="nav-link active">
                <svg class="nav-icon" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.6">
                    <rect x="3" y="4" width="14" height="13" rx="2" />
                    <path d="M3 8h14" />
                    <path d="M7 2v3M13 2v3" />
                </svg>
                Calendar
            </a>
            <a href="{% url 'equipment' %}" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-flask-conical">
                    <path
                        d="M14 2v6a2 2 0 0 0 .245.96l5.51 10.08A2 2 0 0 1 18 22H6a2 2 0 0 1-1.755-2.96l5.51-10.08A2 2 0 0 0 10 8V2">
                    </path>
                    <path d="M6.453 15h11.094"></path>
                    <path d="M8.5 2h7"></path>
                </svg>
                Equipment
            </a>
            <a href="{% url 'bookings' %}" class="nav-link">
                <svg class="nav-icon" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.6">
                    <rect x="4" y="3" width="12" height="14" rx="2" />
                    <path d="M7 7h6M7 10h6M7 13h4" />
                </svg>
                My bookings
            </a>
            <a href="{% url 'settings' %}" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-settings">
                    <path
                        d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z">
                    </path>
                    <circle cx="12" cy="12" r="3"></circle>
                </svg>
                Settings
            </a>
        </nav>
        <div class="navbar-avatar">A</div>
    </header>

    {% block content %}

    {% endblock content %}

</body>

</html>